doctype html
html(lang="zh-CN")
	head
		title index
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
		script(src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
	body(role="document")
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false" aria-controls="navbar")
						span.sr-only toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(class="navbar-brand", href="#") bootsrap theme
					.navbar-collapse.collapse(id="navbar")
					ul.nav.navbar-nav
						li.active <a href="#">Home</a>
						li <a href="#about">About</a>
						li <a href="#contact">Contact</a>
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Dropdown <span class="caret"></span>
							ul.dropdown-menu
						li <a href="#">Action</a>
						li <a href="#">Another action</a>
						li <a href="#">Something else here</a>
						li(role="separator" class="divider")
						li.dropdown-header Nav header
						li <a href="#">Separated link</a>
						li <a href="#">One more separated link</a>
