doctype html
html(lang="zh-CN")
  head
    title TEST
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    script(src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    button(class ="btn btn-danger") submit